<div class="logoHeader">
  <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513114677/logoHeader_fwizao.png">
</div>
<div>
  <div *ngIf="this.plans[this.x]">
    <div class="thing-to-move" (panstart)="onPanStart($event)" (panmove)="onPan($event)" (panEnd)="onPanEnd($event)">
      <div [style.marginLeft.px]="placeX">
        <div class="photoPlan">
          <img width="300px" [src]="this.plans[this.x].photo[0]">
        </div>
      </div>
      <div class="dataHeader">
        <div class="iconCalendar">
          <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513201661/calendar-512_uztorn.png">
        </div>
        <div class="dataDate">
          {{ this.plans[this.x].datePlan }}
        </div>
        <div class="numberPeople">
          {{ this.plans[this.x].maxPeople - this.plans[this.x]._acceptRequest.length}} ({{ this.plans[this.x].maxPeople}}) img persona
        </div>
      </div>
      <div class="title">
        {{ this.plans[this.x].title }}
      </div>
      <div class="owner">
        <img width="50px" [src]="this.plans[this.x]._owner[0].photoUrl"> {{ this.plans[this.x]._owner[0].nickname }}
      </div>
      <div class="description">
        {{ this.plans[this.x].description }}
      </div>
      <div class="positionText">
        {{ this.plans[this.x].position.name }}
      </div>
      <div class="transportPrice">
        <div class="transport">
          {{this.plans[this.x].transport}}
        </div>
        <div class="price" *ngIf="this.plans[this.x].money == 0">
          FREE
        </div>
        <div class="price" *ngIf="this.plans[this.x].money > 0">
          {{this.plans[this.x].money}}
        </div>
      </div>
    </div>
  </div>
  <p>FILTER</p>
  <ul>
    <li>
      <div *ngIf="this.typeSearch == 'Confort'">Confort Zone</div>
      <div *ngIf="this.typeSearch != 'Confort'"><button (click)="setConfort()">Confort Zone</button></div>
    </li>

    <li>
      <div *ngIf="this.typeSearch == 'Explore'"> Explore </div>
      <div *ngIf="this.typeSearch != 'Explore'"><button (click)="setExplore()">Explore</button></div>
    </li>
    <li>
      <div *ngIf="this.typeSearch == 'Random'"> Random</div>
      <div *ngIf="this.typeSearch != 'Random'"><button (click)="setRandom()">Random</button></div>
    </li>
    <li>
      <input type="checkbox" name="rush" (change)="setRush($event)" S>
    </li>
  </ul>
  <ul>
    <li class="selected">Plans</li>
    <li><a [routerLink]="['/myplans']">My Plans</a></li>
    <li><a [routerLink]="['/mychats']">My Chats</a></li>
    <li><a [routerLink]="['/lasthour']">Last Hour</a></li>
    <li><a [routerLink]="['/settings']">Settings</a></li>
  </ul>
