<div class="logoHeader">
  <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513114677/logoHeader_fwizao.png">
</div>
<div class="AddAPlan">
  CREATE YOUR PLAN!
</div>
<div class="titlePlan">
  <input class="titleinput" type="text" name="title" [(ngModel)]="plan.title" placeholder="TITLE">
</div>
<div class="descriptionPlan">
  <div class="descriptionTitle">
    Description (describe your plan!)
  </div>
  <div class="textareaDiv">
  <textarea class="textAreaInput" [(ngModel)]='plan.description' placeholder="Tell your plan as better as possible :)">
  </textarea>
</div>
</div>

<div class="dayHour">
  <div class="ui-g-12 ui-md-4 time">
    <div class="plantime">
      When is the plan?
    </div>
    <div class="calendar">
      <p-calendar class="calendar" [(ngModel)]="plan.datePlan" [showTime]="true"></p-calendar>
    </div>
</div>
</div>

<div class="genderPlan">
  <div class="titleGender">
    Which gender of company search?
  </div>
  <div class="radioGender">
    <input class="buttonRadio" type="radio" name="gender" [(ngModel)]="plan.gender_allowed" value="both"><span class="option">Both</span>
    <input class="buttonRadio" type="radio" name="gender" [(ngModel)]="plan.gender_allowed" value="female"><span class="option">Female</span>
    <input class="buttonRadio" type="radio" name="gender" [(ngModel)]="plan.gender_allowed" value="male"><span class="option">Male</span>
  </div>
</div>

<div class="zonePlan">
  <div class="zone">
    Kind of plan?
  </div>
  <input class="buttonRadio" type="radio" name="zone" [(ngModel)]="plan.zone" value="plan"><span class="option">Plan</span>
  <input class="buttonRadio" type="radio" name="zone" [(ngModel)]="plan.zone" value="relation"><span class="option">Relation</span>
  <input class="buttonRadio" type="radio" name="zone" [(ngModel)]="plan.zone" value="rush"><span class="option">Flashplan</span>
</div>

<div class="photoPlan">
  <div class="phototext">
    Select a Photo!
  </div>
  <image-upload url="{{ imageUploadDirection }}"
   [max]="10"
   [extensions]="['jpeg','png']"
   [buttonCaption]="'Select Images!'"
   [class]="'customClass'"
   (uploadFinished)="onUploadFinished($event)"
   (removed)="onRemoved($event)">
 </image-upload>
</div>
<div class="street">
  <div class="streetText">
    Where will be the plan?
  </div>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
</div>
<!-- Street name is getted in position input
_owner is putted in the Back
status is positioned in back (running)
-->
<div class="moneyPlan">
  <div class="textMoney">
    Have to pay something?
  </div>
  <div class="moneyInput">
    <input class="money" type="number" step="0.01" name="money" [(ngModel)]="plan.money">
  </div>
</div>

<div class="transportPlan">
  <div class="transportText">
    Where about transport?
</div>
<div class="transportType">
  <input class="buttonRadio transport" type="radio" name="transport" [(ngModel)]="plan.transport" value="We Stay There"><span class="transporTextRadio">We Stay There :)</span><br>
  <input class="buttonRadio transport" type="radio" name="transport" [(ngModel)]="plan.transport" value="You get me?"><span class="transporTextRadio">Can you pick me?</span><br>
  <input class="buttonRadio transport" type="radio" name="transport" [(ngModel)]="plan.transport" value="Take You!"><span class="transporTextRadio">I pick you!</span><br>
</div>
</div>

<div class="maxPeople">
<div class="manyPeople">
  How many people?
</div>
<div class="numberPeople">
  <input class="howManyPeople" type="number" step="1" min="1" name="maxPeople" [(ngModel)]="plan.maxPeople" value="1">
</div>
</div>
<div class="categories">
  Select your categories!
</div>
<form class="categoriesFields" #myForm="ngForm" (submit)="sendPlan(myForm)">
  <div *ngFor="let categorie of allCategories">
    <div class="categoriesDiv">
    <label>
          <input class="categorieSelect" type="checkbox" name="{{ categorie._id }}" value="{{ categorie._id }}" ngModel/>
          {{ categorie.name }}
      </label>
    </div>
  </div>
  <div class="buttonSendPlan">
    <button class="buttonJumpToTheWorld" type="submit">SEND MY PLAN!</button>
  </div>
</form>
<div class="goback">
  <a [routerLink]="['/portal']">Cancel plan :(</a>
</div>
