<div class="logoHeader">
  <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513114677/logoHeader_fwizao.png">
</div>
<div *ngIf="this.user">
  <div class="phototop">
    <span>Member Bronce!</span>
    <img class="photoCircle"[src]="user.photoUrl[0]">
  </div>
  <div class="welcome">
    Welcome to your area <br>{{ this.user.nickname }}
  </div>
  <div *ngIf="show" class="profileHidden">
    <form (ngSubmit)="doSomething(formData)" #formData="ngForm">
    <div class="emailtag">
      <p>Email:</p>
    </div>
    <div class="emailinput">
      <input type="text" name="email" [value]="user.email">
    </div>
    <div class="nicktag">
      Nick:
    </div>
    <div class="nickinput">
      <input type="text" name="nickname" [value]="user.nickname">
    </div>
    <div class="phototag">
      Photo:
    </div>
    <div class="fileupinput">
      <input class="fileup" type="file" name="photo">
    </div>
    <div class="kilometerstag">
      Kilometers ({{ this.rangeKilometers }}):
    </div>

    <div class="rangeinput">
      <input type="range" #range (input)="updateKilometers(range.value)" min="10" max="300" [value]="user.maxKilometers">
    </div>
      <div class="buttons">
        <div class="acceptChanges">
          <button type="submit">Save profile</button>
        </div>
        <div class="cancelChanges">
          <button (click)="this.show=!this.show">Cancel Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="showButton" *ngIf="!this.show">
  <button (click)="changeStatusProfile()"> Edit info/settings </button>
</div>
<div class="showButton" *ngIf="!this.show">
  <button (click)="changeLikings()"> Change Likings </button>
</div>
<div class="closeSession">
  <button (click)="logout()">Close Session!</button>
</div>
<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
    <div class="row" id="bottomNav">
      <div class="col-xs-3 text-center"><a [routerLink]="['/portal']"><i class="fa fa-id-badge unselected" aria-hidden="true"></i></a><br></div>
      <div class="col-xs-3 text-center"><a [routerLink]="['/myplans']"><i class="fa fa-list unselected" aria-hidden="true"></i></a><br></div>
      <div class="col-xs-3 text-center"><a [routerLink]="['/mychats']"><i class="fa fa-comments-o unselected" aria-hidden="true"></i></a><br></div>
      <div class="col-xs-3 text-center selected"><i class="fa fa-user-circle selected" aria-hidden="true"></i><br>You</div>
    </div>
  </div>
</div>
