<div *ngIf="myPlan">
  <div class="photoPlan">
    <img width="300px" [src]="myPlan.photo[0]">
  </div>
  <div class="owner">
    <img width="50px" [src]="myPlan._owner[0].photoUrl">
    {{ myPlan._owner[0].nickname }}
  </div>
  <div class="dataDate">
    {{ myPlan.datePlan }}
  </div>
  <div class="numberPeople">
    {{ myPlan.maxPeople - myPlan._acceptRequest.length}}
    ({{ myPlan.maxPeople}}) img persona
  </div>
  <div class="title">
    {{ myPlan.title }}
  </div>
  <div class="description">
    {{ myPlan.description }}
  </div>
  <div class="positionText">
    {{ myPlan.position.name }}
  </div>
  <div class="transportPrice">
    <div class="transport">
      {{myPlan.transport}}
    </div>
    <div class="price" *ngIf="myPlan.money == 0">
      FREE
    </div>
    <div class="price" *ngIf="myPlan.money > 0">
      {{myPlan.price}}
    </div>
  </div>
</div>
<a [routerLink]="['/myplans']">Go back</a>
<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
    <div class="row" id="bottomNav">
      <div class="col-xs-3 text-center"><a [routerLink]="['/portal']"><i class="fa fa-id-badge unselected" aria-hidden="true"></i></a><br></div>
      <div class="col-xs-3 text-center selected"><i class="fa fa-list selected" aria-hidden="true"></i><br>My Plans</div>
      <div class="col-xs-3 text-center"><a [routerLink]="['/mychats']"><i class="fa fa-comments-o unselected" aria-hidden="true"></i></a><br></div>
      <div class="col-xs-3 text-center"><a [routerLink]="['/settings']"><i class="fa fa-user-circle unselected" aria-hidden="true"></i></a><br></div>
    </div>
  </div>
</div>
