<div class="logoHeader">
  <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513114677/logoHeader_fwizao.png">
</div>
<form>
  <div class="emailtag">
    <span>email</span>
  </div>
  <div class="emailInput">
    <input class="emailinput" type="text" name="email" [(ngModel)]="email" placeholder="Insert your email" required />
  </div>

  <div class="passwordtag">
    <span>password</span>
  </div>
  <div class="passInput">
    <input class="passinput" type="password" name="password" [(ngModel)]="password" placeholder="Insert your password" required />
  </div>
  <div class="divGo">
    <button class="botonGo" (click)="login(email,password)"> GO! </button>
  </div>
</form>
<div>
  <p class="error"> {{ this.error }} </p>
</div>
<div class="createNewAccount">
  <a [routerLink]="['/signup']">create new account</a><br>
</div>
<div class="back">
  <a [routerLink]='[""]'>back</a><br><br>
</div>
