<div class="logoHeader">
  <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513114677/logoHeader_fwizao.png">
</div>
<div *ngIf="myPlan">
  <div class="photoPlan">
    <img width="300px" [src]="myPlan.photo[0]">
  </div>
  <div class="title">
    {{ myPlan.title }}
  </div>
  <div *ngIf="myPlan._usersRequest.length > 0" class="containerAllPetitions">
    <div class="allpetitions" *ngFor="let request of myPlan._usersRequest">
      <div class="photoUser">
        <img class="userPhoto" src="{{ request.photoUrl[0] }}">
      </div>
      <div class="userName">
        {{ request.nickname }}
      </div>
      <div class="Accept">
        <button (click)="agree(request._id)">Agree</button>
      </div>
      <div class="Deny">
        <button (click)="deny(request._id)">Deny</button>
      </div>
    </div>
  </div>
  <div class="kawaiiGirl" *ngIf="myPlan._usersRequest.length == 0">
    <div class="textKawaii">
    No invites yet...
  </div>
    <img class="kawaiigirl" src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513296935/sadWait_nblydw.png">
  </div>
  <div id="footer">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
      <div class="row" id="bottomNav">
        <div class="col-xs-3 text-center"><a [routerLink]="['/portal']"><i class="fa fa-id-badge unselected" aria-hidden="true"></i><br></a></div>
        <div class="col-xs-3 text-center selected"><a [routerLink]="['/myplans']"><i class="fa fa-list selected" aria-hidden="true"></i></a><br>Back</div>
        <div class="col-xs-3 text-center"><a [routerLink]="['/mychats']">
          <div class="circleRed" *ngIf="circleRed"><img class="circleRedImg" src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513296241/circle_red_vjde9j.png"></div>
          <i class="fa fa-comments-o unselected" aria-hidden="true"></i><br></a></div>
        <div class="col-xs-3 text-center"><a [routerLink]="['/settings']"><i class="fa fa-user-circle unselected" aria-hidden="true"></i><br></a></div>
      </div>
    </div>
  </div>
