<div class="logoHeader">
  <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513114677/logoHeader_fwizao.png">
</div>
<div class="allChats" *ngIf="this.user">
  <div class="conversation" *ngFor="let chats of chatsUser">
    <a [routerLink] = "['/mychats',chats.planId._id]">
    <div class="image">
      <img class="photo" src="{{ chats.planId.photo[0]}}">
    </div>
    <div class="titleAndLastMessage">
      <div class="plan">
        {{ chats.planId.title}}
      </div>
      <div class="date">
        Last message: | truncate : 3
      </div>
    </div>
  </a>
  </div>
</div>
<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
    <div class="row" id="bottomNav">
      <div class="col-xs-3 text-center"><a [routerLink]="['/portal']"><i class="fa fa-id-badge unselected" aria-hidden="true"></i></a><br></div>
      <div class="col-xs-3 text-center"><a [routerLink]="['/myplans']"><i class="fa fa-list unselected" aria-hidden="true"></i></a><br></div>
      <div class="col-xs-3 text-center selected"><i class="fa fa-comments-o selected" aria-hidden="true"></i><br>My Chats</div>
      <div class="col-xs-3 text-center"><a [routerLink]="['/settings']"><i class="fa fa-user-circle unselected" aria-hidden="true"></i></a><br></div>
    </div>
  </div>
</div>
