<!-- STEP 3 (FB & SIGNUP) => Navigate
If come from facebook only need:
position (auto),
birthday,
_liking,
 -->

 <div class="logoHeader">
   <img src="http://res.cloudinary.com/dvm5v31jc/image/upload/v1513114677/logoHeader_fwizao.png">
 </div>
 <div class="locationActivate">
   <div class="locate1">
     <i class="fa fa-map-marker position1" aria-hidden="true"></i>
   </div>
   <div class="locate2">
    <br> We take your position <br>to offer best plans near you
   </div>
</div>
 <div class="tagBirthday">
  <span>When is your birthday?</span>
 </div>
 <div class="birthday">
   <input type="date" class="inputbirthday"[(ngModel)]="birthday">
 </div>
 <div class="selectYourLiking">
  <span>most important!!<br>SELECT YOUR LIKING! <br>(at least one)</span>
</div>
<form #myForm="ngForm" (submit)="SendFormAndEnjoy(myForm)">
<div *ngFor="let categorie of allCategories">
  <label>
        <input type="checkbox" name="{{ categorie._id }}" value="{{ categorie._id }}" ngModel/>
        {{ categorie.name }}
    </label>
</div>
<div class="buttonSendAndEnterInPortal">
  <button class="buttonSendAndEnter" type="submit">START THE PARTY!</button>
</div>
</form>
