
<div *ngFor="let plan of userPlans">
  <a [routerLink]="[plan._id]">
  <div class="image">
    <img width="50px" [src]="plan.photo[0]">
  </div>
    {{ plan.title }}
  <div class="day">
    {{ plan.datePlan }}
  </div>
  <div class="maxPeople">
    {{ plan.maxPeople }}
  </div>
  </a>
  <div class="remove">
    <button (click)="removePlan([plan._id])">Reject this plan</button>
  </div>
</div>
<div class="newPlan">
  <a [routerLink]="['/createplan']">ADD NEW PLAN</a>
</div>
<ul>
  <li><a [routerLink]="['/portal']">Plans</a></li>
  <li class="selected">My Plans</li>
  <li><a [routerLink]="['/mychats']">My Chats</a></li>
  <li><a [routerLink]="['/lasthour']">Last Hour</a></li>
  <li><a [routerLink]="['/settings']">Settings</a></li>
</ul>
