
<div *ngFor="let plan of userPlans">
  <a [routerLink]="[plan._id]">
  <div class="image">
    <img width="50px" [src]="plan.photo[0]">
  </div>
    {{ plan.title }}
  <div class="day">
    {{ plan.datePlan }}
  </div>
  <div class="maxPeople">
    {{ plan.maxPeople }}
  </div>
  </a>
  <div *ngIf="plan._owner == user._id">
    Im the owner
    <div *ngIf="plan._usersRequest.length > 0">
      <!-- When have new request can check and decide -->
      <a [routerLink]="['editplan',plan._id]">check New Requests</a>
    </div>
  </div>
  <div class="remove" *ngIf="plan._owner != user._id && plan._usersRequest.includes(user._id)">
    <!-- User waiting can cancel plan-->
    <button (click)="removePlan([plan._id])">Reject this plan</button>
  </div>
  <div class="accepted" *ngIf="plan._acceptRequest.includes(user._id)">
    Plan Accepted!
  </div>

</div>
<div class="newPlan">
  <a [routerLink]="['/createplan']">ADD NEW PLAN</a>
</div>
<ul>
  <li><a [routerLink]="['/portal']">Plans</a></li>
  <li class="selected">My Plans</li>
  <li><a [routerLink]="['/mychats']">My Chats</a></li>
  <li><a [routerLink]="['/lasthour']">Last Hour</a></li>
  <li><a [routerLink]="['/settings']">Settings</a></li>
</ul>
<!--
$or: [{
  "_acceptRequest": {
    $in: [user]
  }
}, {
  "_usersRequest": {
    $in: [user]
  }
}, {
  "_rejectedId": {
    $in: [user]
  }
},{
    "_owner": {
    $in: [user]
  }
}] -->
